::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: none !important;
}

::ng-deep .mat-form-field-infix {
  width: 80px;
}

:host {
  display: inline-block;
}

div {
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}
